@font-face{
    font-family: 'Montserrat-Bold';
    src: url("../Shrift/Montserrat-Bold.ttf");
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url("../Shrift/Montserrat-Regular.ttf");
}

@font-face{
    font-family: 'Product-Sans-Regular';
    src: url("../Shrift/Product-Sans-Regular.ttf");
}