/*Extra Small*/
@media screen and (max-width: 576px){
/*------------------------------------HEADER--------------------------------------------*/
    .header {
        height: auto;
        background-color: #000016;
        clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 70% 97% , 0 100%);
    }
    .header__top {
        background: #ffffff;
    }
    .logo {
        color: var(--color_1)!important;
        border-image: 1 linear-gradient(133deg, #41e8ec 35% , #000016 65%);
    }
    .logo-span {
        color: #3DCFD3;
    }
    .header__text-title {
        font-size: 30px;
        margin-top: 50px;
    }
    .header__text-front-end {
        font-size: 20px;
    }
    .header__text-p {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .header__photo {
        margin-bottom: 50px;
    }
    .header__photo-img {
        width: 350px;
        border-radius: 50px;
    }
    .navbar-nav {
        background-color: #000016;
        border-radius: 15px;
    }
    .nav-item {
        text-align: center;
        margin: 10px 0 10px;
    }
    .header__nav-link {
        margin-left: 0;
        color: #ffffff;
    }
    .header__nav-link-active {
        color: #3DCFD3;
    }
    .header__nav-link::before , .header__nav-link::after , .header__nav-link-left , .header__nav-link-right {
        background-color: #3DCFD3;
    }
    .header__nav-link-left , .header__nav-link-right {
        background-color: #ffffff;
    }
    .skills {
        padding: 80px 0 100px;
    }
    .skills-title {
        font-size: 24px;
    }
    .main__slider-images , .main__slider-text {
        height: auto;
        margin-bottom: 25px;
    }
    .main__slider-text {
        padding-left: 25px;
        padding-right: 25px;
    }
    .main__slider-h2 {
        margin-top: 40px;
    }
    .main__slider-h2 {
        font-size: 14px;
    }
    .main__slider-p {
        font-size: 12px;
    }
    .main__slider-images-img {
        height: auto;
    }
    .main__work {
        clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 70% 99% , 0 100%);
    }
    .main__tabs-text-title {
        font-size: 20px;
        margin-top: 15px;
    }
    .main__tabs-a {
        margin-top: 45px;
        margin-bottom: 10px;
    }
    .main__tabs-text {
        margin-top: 25px;
    }
    .main__tabs-img {
        height: auto;
    }
    .contact__block-title {
        margin-bottom: 40px;
    }
    .contact__block__left , .contact__block__right {
        margin: 30px 0;
    }
    .footer .logo {
        color: #ffffff!important;
        border-image: 1 linear-gradient(133deg, #ffffff 35% , #3DCFD3 65%);
    }
    .footer .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__copy-h2 {
        font-size: 14px;
    }
}
/*Small*/
@media screen and (max-width: 767px) and (min-width: 576px){
    /*------------------------------------HEADER--------------------------------------------*/
    .header {
        height: auto;
        clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 70% 96% , 0 100%);
    }
    .header__top {
        background: #ffffff;
    }
    .logo {
        color: var(--color_1)!important;
        border-image: 1 linear-gradient(133deg, #41e8ec 35% , #000016 65%);
    }
    .header__text-title {
        font-size: 26px;
        margin-top: 50px;
    }
    .header__text-front-end {
        font-size: 20px;
    }
    .header__text-p {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .navbar-nav {
        background-color: #000016;
        border-radius: 15px;
    }
    .nav-item {
        text-align: center;
        margin: 10px 0 10px;
    }
    .header__nav-link {
        margin-left: 0;
        color: #ffffff;
    }
    .header__nav-link-active {
        color: #3DCFD3;
    }
    .header__nav-link::before , .header__nav-link::after , .header__nav-link-left , .header__nav-link-right {
        background-color: #3DCFD3;
    }
    .header__nav-link-left , .header__nav-link-right {
        background-color: #ffffff;
    }
    /*about-me-content begin*/
    .about-me-text span{
        line-height: 40px;
    }
    .about-me-text .about-button a{
        font-size: 16px;
    }
    /*about-me-content end*/
    .main__slider-images , .main__slider-text {
        height: auto;
        margin-bottom: 25px;
    }
    .main__slider-text {
        padding-left: 25px;
        padding-right: 25px;
    }
    .main__slider-h2 {
        margin-top: 32px;
    }
    .main__work {
        clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 70% 98% , 0 100%);
    }
    .main__tabs-text-title {
        font-size: 20px;
        margin-top: 15px;
    }
    .main__tabs-a {
        margin-top: 45px;
        margin-bottom: 10px;
    }
    .main__tabs-text {
        margin-top: 25px;
    }
    .main__tabs-img {
        height: auto;
    }
    .contact-p {
        font-size: 12px;
    }
    .footer .logo {
        color: #ffffff!important;
        border-image: 1 linear-gradient(133deg, #ffffff 35% , #ffcb02 65%);
    }
    .footer .navbar-nav {
        display: flex;
        flex-direction: row;
    }
}
/*Medium*/
@media screen and (max-width: 991px) and (min-width: 768px){
    /*------------------------------------HEADER--------------------------------------------*/
    .header {
        height: auto;
        clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 70% 94% , 0 100%);
    }
    .header__top {
        background: #ffffff;
    }
    .logo {
        color: var(--color_1)!important;
        border-image: 1 linear-gradient(133deg, #41e8ec 35% , #000016 65%);
    }
    .header__text-title {
        font-size: 30px;
        margin-top: 50px;
    }
    .header__text-p {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .navbar-nav {
        background-color: #000016;
        border-radius: 15px;
    }
    .nav-item {
        text-align: center;
        margin: 10px 0 10px;
    }
    .header__nav-link {
        margin-left: 0;
        color: #ffffff;
    }
    .header__nav-link-active {
        color: #3DCFD3;
    }
    .header__nav-link::before , .header__nav-link::after , .header__nav-link-left , .header__nav-link-right {
        background-color: #3DCFD3;
    }
    .header__nav-link-left , .header__nav-link-right {
        background-color: #ffffff;
    }
    .main__slider-h2 {
        margin-top: 40px;
    }
    .main__slider-images-img {
        height: 400px;
    }
    .main__slider-images , .main__slider-text {
        height: auto;
        margin-bottom: 25px;
    }
    .main__slider-text {
        padding-left: 35px;
        padding-right: 35px;
    }
    .main__work {
        clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 70% 98% , 0 100%);
    }
    .main__tabs-text-title {
        font-size: 20px;
        margin-top: 15px;
    }
    .main__tabs-a {
        margin-top: 45px;
        margin-bottom: 10px;
    }
    .main__tabs-text {
        margin-top: 25px;
    }
    .main__tabs-img {
        height: auto;
    }
    .contact-p {
        font-size: 14px;
    }
    .footer .logo {
        color: #ffffff!important;
        border-image: 1 linear-gradient(133deg, #ffffff 35% , #ffcb02 65%);
    }
    .footer .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: transparent;
    }
}
/*Large*/
@media screen and (max-width: 1199px) and (min-width: 992px){
    .header {
        height: 550px;
    }
}
/*Extra Large*/
@media  (min-width: 1200px){

}
@media screen and (max-width: 320px) {
    .logo {
        font-size: 15px;
    }
    .navbar-nav {
        margin-top: 10px;
    }
    .header__text-title {
        font-size: 24px;
    }
    .header__text-front-end {
        font-size: 18px;
    }
    .header__photo-img {
        width: 100%;
    }
    .about-me-text .about-button a {
        padding: 12px 25px;
        font-size: 14px;
    }
}
@media screen and (max-width: 280px) {
/*----------------------------HEADER-----------------------*/
    .logo {
        font-size: 12px;
    }
    .navbar-nav {
        margin-top: 10px;
    }
    .header__text-title {
        font-size: 22px;
    }
    .header__text-p {
        font-size: 12px;
    }
    .main__slider-images-img {
        height: auto;
    }
    .main__tabs-text-title {
        font-size: 14px;
    }
    .main__tabs-text-p {
        font-size: 12px;
    }
    .header__photo-img {
        width: 100%;
    }
    .about-me-text .about-button a {
        padding: 12px 25px;
        font-size: 14px;
    }
    .about-me-text h2 {
        font-size: 26px;
    }
    .about-me-text h4 {
        font-size: 14px;
    }
    .about-me-text p {
        font-size: 13px;
    }
    .about-email-link {
        font-size: 14px;
    }
    .contact-p {
        font-size: 12px;
    }
}